<!doctype html>
<html lang="en">
<head>
  <title>Trumpman</title>
  <link 
    rel="stylesheet" 
    type="text/css" 
    href="{{url_for('static', filename='css/main.css')}}"
  />
</head>
<body>
  <div id="container">
    <div id="header" class="ui centered"></div>
    <div id="content" class="ui container">
      <div id="hangman">
        {% for i in range(10) %}
          <img 
            style="z-index: {{20 - i}}; visibility: hidden"
            class="hidden"
            id="hangman-{{i}}"
            src="{{url_for('static', filename='img/hangman/{}.png'.format(i))}}"
          />
        {% endfor %}
      </div>
    </div>
    <div id="footer" class="ui centered"></div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <link 
    rel="stylesheet" 
    type="text/css"
    href="{{url_for('static',filename='css/semantic.min.css')}}">
  <script
    type="text/javascript"
    src="{{url_for('static',filename='js/semantic.min.js')}}">
  </script>
  <script 
    type="text/javascript" 
    src="{{url_for('static',filename='js/app.js')}}">
  </script>
</body>
</html>
